@use 'variables' as var;
.container { 
  width: 60%;
  margin: auto;
}


// Estilos description 

.description{
  height: 50vh;
  margin: auto;
  margin-bottom: 25px;
  position: relative;

  &__content{
    background-color: var.$color-white;
    height: 100%;
    widows: 100%;
    border-radius: 12px;
    padding: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__title-container{ 
    display: flex;
    flex-direction: column;
    

    h3{ 
      font-weight: 500;
      color: var.$color-orange;
    }
  }

  &__title{ 
    font-size: 3rem;
    color: var.$color-black;
  }
  &__text{ 
    border: 3px solid var.$dark-gray;
    border-radius: 12px;
    padding: 15px;

    p{ 
      font-weight: 300;
      line-height: 1.5rem;

      a{ 
        text-decoration: none;
        color: var.$color-yellow;
        font-weight: 500;
      }
    }
  }
}



// estilos -> Ejercicios 
.exercises{
  background: var.$light-bg;
  padding: 50px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  &__container{ 
    border: 0px solid blueviolet;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    iframe{ 
      width: 100%;
      height: 100%;
      border-radius: 12px;
      box-shadow: 0px 0px 4px 2px rgba(var.$dark-gray , .5);
    }
  }
  &__number{ 
    width: 100%;
    height: 100%;
  }
  &__data{ 
    width: 100%;
    height: 10%;
    border: 3px solid var.$dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
  }
  &__data-number {
    h3{
      font-size: 1rem;
      font-weight: 600;
      color: var.$color-black;
    }
  }
  &__data-links { 
    a { 
      color: var.$color-yellow;
      margin-left: 15px;
    }
  }
}
@media (max-width: 900px){ 
  .exercises{ 
    grid-template-columns: 1fr;
  }
}
